<footer class="main-footer">
    <div class="row">
        <div class="col-md-2 col-12">
            <h4 class="tittleFont"><b>Personas</b></h4>
        </div>
        <div class="col-md-2 col-12">

        </div>
        <div class="col-md-2 col-12">

        </div>
        <div class="col-md-3 col-12">
            <h4 class="tittleFont"><b>Personas</b></h4>

        </div>
        <div class="col-md-3 col-12">
            <h4 class="tittleFont"><b>VIVA</b></h4>
            <br>
            <h4 class="tittleFont"><b>Informaci&oacute;n Adicional</b></h4>
            <br>
            <h4 class="tittleFont"><b>¿Necesitas Ayuda?</b></h4>
        </div>
    </div>

    <!-- Container Links -->
    <div class="row footer-toolbar">
        <div class="col-12 col-md-6">
            <div class="col-md-3 col-12 toolbar-logo"><img class="img-center"
                    src="../../../assets/images/pages/header/logo-viva.png" alt="Logotipo Viva"></div>
            <div class="col-md-9 col-12 lista">
                <ul>
                    <li class="socialMedia__item">
                        <a href="https://www.facebook.com/vivabo" target="_blank" rel="noopener noreferrer"><i
                                class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a class="socialMedia__link" href="https://www.instagram.com/vivabo/" target="_blank"
                            rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a class="socialMedia__link" href="https://twitter.com/vivabo" target="_blank"
                            rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
                    <li>
                        <a class="socialMedia__link" href="https://www.linkedin.com/company/viva-bolivia"
                            target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                    
                        <a class="socialMedia__link" href="https://www.youtube.com/user/VIVANuevatel" target="_blank"
                            rel="noopener noreferrer"></a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6 lista lista-align">
            <ul>
                <li><a href="https://www.viva.com.bo/personas/terminos-y-condiciones/" target="_blank"
                        rel="noopener noreferrer">T&eacute;rminos y condiciones</a></li>
                <li><a href="https://www.viva.com.bo/personas/politica-de-privacidad/" target="_blank"
                        rel="noopener noreferrer">Pol&iacute;tica de privacidad</a></li>
            </ul>
        </div>
    </div>
    <!-- Container Links end -->

    <!-- Container Copyright -->
    <div class="row">
        <div class="post-footer">
            <p>Esta empresa está regulada y fiscalizada por la ATT <img class="tc-image"
                    src="../../assets/images/pages/footer/att-logo-2021.png" alt="A.T.T." style="width:70px"></p>
            <p> Nuevatel PCS de Bolivia - Copyright © 2020</p>
        </div>
    </div>
    <!-- Container Copyright end -->


</footer>