<div class="container">
    <div class="row d-flex flex-column justify-content-center align-items-center pt-5 px-1">
      <mat-card style="width : 26rem" >
          <mat-card-header>
              <mat-card-title>VIVA</mat-card-title>
              <mat-card-subtitle>Formulario de Validacion de Datos</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <form class="row g-3 needs-validation" novalidate>
          
              <div class="col-12">
                <input type="text" class="form-control" id="dni_number_from" value=""  placeholder="Numero de CI" required>
                <div class="valid-feedback">
                  El numero de CI es requerido
                </div>
              </div>
              <div class="text-center">
                  <p>&oacute;</p>
              </div>
              <div class="col-12">
                <input type="text" class="form-control" id="phone_number_form" placeholder="Numero de Telefono" required>
                <div class="invalid-feedback">
                 El numero de Telefono es requerido
                </div>
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions class="text-center pb-3">
              <button mat-raised-button color="primary" class="w-100" routerLink="/oferta">Validar</button>
              
          </mat-card-actions>
        
      </mat-card>

            
    </div>
</div>
