<div class="container">
    <div class="row d-flex flex-column justify-content-center align-items-center pt-5 px-1">
      <mat-card style="width : 26rem" >
          <mat-card-header>
              <mat-card-title>VIVA</mat-card-title>
              <mat-card-subtitle>Formulario de Validacion de Datos <br> Ingresa tu N&uacute;mero de Carnet de Identidad y N&uacute;mero Telef&oacute;nico</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="gropuForm" (ngSubmit)="saveForm()" novalidate>
          
              <div class="col-12">
                <input type="text" class="form-control" id="dniNumber" formControlName="dniNumber" placeholder="Numero de CI" maxlength="19" required>
                <div class="valid-feedback">
                  El numero de CI es requerido
                </div>
              </div>
              
              <div class="col-12">
                <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" placeholder="N&uacute;mero de Telefono" maxlength="8" required>
                <div class="invalid-feedback">
                 El numero de Telefono es requerido
                </div>
              </div>
              <div class="col-12">
                <button mat-raised-button color="primary" class="w-100" >Ingresar</button>
              </div>
            </form>
          </mat-card-content>
          <div class="link-back">
            <a href="/home" style="color: #5c349e;">Volver Atras</a><br>
            <a href="/registro" style="color: green;">Crea tu cuenta</a>
          </div>
          
      </mat-card>

            
    </div>
</div>
