<div class="container">
    <div class="row pb-3">
        <section class="section-body col-12 py-3">
            <h3>{{title}}</h3>
            <p>{{message}} <a href="#">Ver detallle de artículos</a></p>
            <form [formGroup]="validationForm" style="background-color:white" novalidate id="validationForm" style="margin-top:80px;">
                <div class="row">
                    <div class="container" style="color:purple;">
                        <h5><b>Elija el metodo de entrega</b></h5>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <mat-radio-group name="entregaData" fxLayout="column" (change)="radioChange($event)">
                        <div *ngFor="let op of listOfOptions" class="alert alert-info" [style]="op.style" role="alert">
                            <mat-radio-button name="entregaData" [value]="op.value" [checked]="op.checked">
                                <span><i style="color:white;" class="material-icons">{{op.design}}</i>&nbsp;{{op.name}}</span>
                            </mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
                <div class="col-12 col-md-7">
                    <!--
                    <app-store-city id={{modules.checkCoverage.alias}} *ngIf="modules.checkCoverage.visible" (nextCoverageStep)="changeModule(modules.checkCoverage.alias)"></app-store-city>
                    -->
                </div>
            </form>
        </section>
    </div>
</div>