<div class="container">
    <div class="row pb-3">
        <section class="section-body col-12 py-3">
            <h3>{{title}}</h3>
            <p>{{message}} <a href="#">Ver detallle de artículos</a></p>
            <div class="row">
                <div class="col-12">
                    <div class="container" style="color:#5C349D;">
                        <h5><b>Elija el metodo de entrega</b></h5>
                        <br>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row" style="margin-left: 2px; margin-right: 2px;">
                        <mat-radio-group name="entregaData" fxLayout="column" (change)="radioChange($event)">
                            <div *ngFor="let op of listOfOptions" class="alert alert-info" [style]="op.style" role="alert">
                                <mat-radio-button name="entregaData" [value]="op.value" [checked]="op.checked">
                                    <span><i style="color:white;" class="material-icons">{{op.design}}</i>&nbsp;{{op.name}}</span>
                                </mat-radio-button>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-12">
                    <app-store-city *ngIf="methods.storesInfo.active">
                    </app-store-city>
                </div>
                <div class="col-12">
                    <app-almost-done *ngIf="methods.storesInfo.active"></app-almost-done>
                </div>
                <!--
                    <div class="row text-center">
                        <app-button [content]="'Siguiente'" (click)="next()">
                        </app-button>
                    </div>
                -->
            </div>
        </section>
    </div>
</div>