
  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar{
    background: linear-gradient(180deg, #D6F084 0%, rgba(214, 240, 132, 0) 100%);
    color: #5C339D;
  }
  .mat-toolbar .toolbar-logo{
    max-width: 100px;;
  }