<div class="container">
<div class="row pb-3">
    <section class="section-body col-12 py-3">
        <h3>{{title}}</h3>
        <p class="pFont">{{message}}</p>
        <mat-card>
            <!-- <ax-lazy-element *axLazyElementDynamic="microFrontKeys.id,
                            url: 'http://localhost:4297/main.js';"
                            paramIn={{toSendString(microFrontParamIn)}}
                            paramClass={{toSendString(paramClass)}}>
            </ax-lazy-element> -->
        </mat-card>
        <card-pay-microfront-app *axLazyElement="microFrontKeys.url"
                                paramIn={{toSendString(microFrontParamIn)}}
                                paramClass={{toSendString(paramClass)}}
                                (dataPayMent)="dataPayMent($event)">
        </card-pay-microfront-app>
    </section>

</div>
</div>