::ng-deep .pFont {
    font-family: 'Roboto';
    color: #8C8C8D;
}

.bWhite {
    background: white;
}

::ng-deep .backgroundgreend {
    background: #DFF39F;
    border-radius: 15px;
    padding: 15px;
}

::ng-deep .padding15 {
    padding-top: 15px;
    padding-bottom: 30px;
}

mat-label.hasEvents {
    pointer-events: auto;
    color: #5C349D;
}

mat-form-field {
    width: 95%;
}

input {
    color: #5C349D;
}

/* El icono debe ser "position: absolute"
 * Ademas le damos un "display: block" y lo posicionamos */

#icon {
    position: absolute;
    display: block;
    bottom: .5rem;
    right: 0.1rem;
    opacity: 0.5 !important;
    user-select: none;
    cursor: pointer;
}

::ng-deep .tamañodiv {
    margin-left: 5px;
    margin-right: 5px;
}

::ng-deep .matError {
    text-align:right; 
    margin-top: -7px;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    opacity: 0.3;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: rgba(0,0,0,.6) !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: rgba(0,0,0,.6) !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: rgba(0,0,0,.6) !important;
}
