
<div class="container">
    <div class="row pb-3 ">
        <section class="section-body col-12 py-3">
            <div class=" d-flex flex-column justify-content-around align-items-center">
                    <h3>Validación de email</h3>
                    <p>Es necesario validar tu correo electrónico para el envío de facturas electrónicas  y otras notificaciones.</p>
                    <mat-card class="my-3 border">
                        <mat-card-content class="text-center">
                            <form action="" [formGroup]="emailValidationForm" >
                                <div class="d-flex flex-column justify-content-between align-items-center py-5">
                                    <img src="assets/images/iconos/email.png" alt="" class="pb-2">
                                    <p>No olvides que será utilizado como método de contacto oficial </p>
                                    <div class="mb-3">
                                        <label class="form-label" for="codeValidationEmail">Codigo de validación</label>
                                        <div class="form-outline">
                                            <input
                                              class="form-control"
                                              id="codeValidationEmail"
                                              name ="codeValidationEmail"
                                              formControlName ="codeValidationEmail"
                                              type="text"
                                              value="Codigo de validación"
                                              aria-label="readonly input example"

                                            />

                                            <small *ngIf="emailCode?.invalid && emailCode?.touched" class="text-danger">El codigo es obligatorio</small>
                                          </div>
                                        <div id="emailHelp" class="form-text">Introduce el codigo recibido</div>
                                        <div class="form-text"> {{this.randomEmailCode}}</div>
                                    </div>


                                    <p class="pt-2">Te llegará un correo de confirmación a tu correo electrónico para validarlo.</p>
                                    <div class="row d-flex flex-column justify-content-between align-items-center">
                                        <app-button-outline  [content]="'Enviar Codigo'" (click)="sendValidationCode()"></app-button-outline>
                                        <app-button [disabled]="emailValidationForm.invalid"  [content]="'Validar correo electronico'" (click)="validateEmail()"></app-button>
                                    </div>
                                    <app-button [disabled]="disabled" [content]="'Siguiente'" (click)="next()" ></app-button>

                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
            </div>
        </section>
    </div>
</div>

