.mat-card{
  padding: 1px !important;
  width: 100%;
  color: #7B7B7B;
}

.section-body{
  background: #ffff;
  color: #848484;
  //border-radius: 0px 10px 10px 0px;
  //border: 1px solid rgba(132, 102, 182, 0.1);
}
