.mat-card{
    padding: 1px !important;
  
    color: #7B7B7B;
    display: block;
    background: rgba(217, 217, 217, 0.15);
    border-radius: 10px;
  }

  #matservicios{
    display: block;
    padding: 20px !important;
  }

  #title{
    text-align: left;
    float: left;
    position:relative;
    display: block;
    left: 0%;
  }
  #icono{
   float: left;
   left: 2%;
   top: 2%;
  }

  #servicios{
  font-size: 12px;
  color: #5C349D;
}


#fecha{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #676767;
}


#productname{
  width: 261px;
  height: 16px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  
  color: #333333;
  
  float: left;
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 1;
}

#price{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #333333;

}


.section-body{
  background: #ffff;
  //border-radius: 0px 10px 10px 0px;
  //border: 1px solid rgba(132, 102, 182, 0.1);
}

#comprar{
  align-self: center;
  text-align: center;
}


//switch button
.switch {
  display: block;
  width: 60px;
  left: 0%;
  height: 34px;
  float: left;
  position: relative;
}
#pago{
  float: r;
  position: absolute;
  text-align: right;
  display: block;
}

#s{
  float: left;
  position: absolute;
  text-align: left;
  display: block;
}
#activa{
  display: block;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #BAE23D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #BAE23D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 5px;
  display: inline-block;
}

#descuento{
  display: inline-block;
  top: 80%;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #676767;
}

#label{
  background-color: #BAE23D;
  color: white;
  display: inline;
  float: right;
  font-size: 12px;
  padding: 3px !important;
  border-radius: 25px;
}
#totalnumero{
  
  font-size: 12px;
  color: #000;
  text-align: right;

}
#total{

  font-size: 12px;
  color: #000;

}

#des{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

/* Textos en general */

color: #676767;
}

#num{

  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */


/* Violeta VIVA */

color: #5C349D;
}

#aviso{
  background: rgba(255, 168, 83, 0.5);
border-radius: 10px;
padding: 20px !important;
}









