.bg {
    background-image: url(~src/assets/images/pages/under-construction/fondo.jpg);
    height: 100vh;
  }
  
  @media (max-width: 1200px){
    .bg {
      background-image: url(~src/assets/images/pages/under-construction/fondo-mobile.jpg);
    }
  }
  