<div id="padre" class="d-flex flex-column justify-content-around align-items-center">
    <div id="banner" >
        <h3>
            Ya casi terminamos
        </h3>
        <p id="presiona">
            Presiona en tu detalle de compra para revisar el estado y terminar tu compra.
        </p>

        <img src="../../../../assets/images/iconos/down.png">

    </div>
    


</div>
<div class=" d-flex flex-column justify-content-around align-items-center">
    <button class="button-active" (click)="detalle()" >
        <img id="moto" src="../../../../assets/images/iconos/moto.png">
        
        Detalle De Compra
        <p id="linea">Linea Movil</p>
    </button >
</div>

