<div id="padre" class=" d-flex flex-column justify-content-around align-items-center">
    <div id="banner">
        <h3>
            Ya casi terminamos
        </h3>
        <p id="presiona">
            Presiona en tu detalle de compra para revisar el estado y terminar tu compra.
        </p>

        <img src="../../../../assets/images/iconos/down.png">

    </div>
    <app-button id="boton" [content]="'Detalle de Compra'" (click)="detalle()">
        <span src="../../../../assets/images/iconos/moto.png"></span>
    </app-button>


</div>
