<app-header></app-header>
<div class="container px-3 py-1">
  <div class="row flex-column justify-content-center align-items-center ">
 

    <mat-card class="mat-elevation-z4 py-4 mb-3 mx-2 m-md-4" style="width: 20rem; ">
        <mat-card-header class="border-bottom mb-3">
          <mat-card-title class="w-100 text-center"><div>{{product.name}}</div></mat-card-title>
        </mat-card-header >
        <div class="text-center">
          <img  src="../../../assets/images/no-image.jpeg" class="border img-fluid">
        </div>
       
        <mat-card-content>
          <p class="fw-bold text-primary text-center">
            Precio: {{product.price}}
          </p>

          <div class="accordion" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                 Descripcion
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body text-muted">{{product.description}}</div>
              </div>
            </div>
            
          </div>
        </mat-card-content>
        <mat-card-actions class="d-flex flex-column justify-content-center align-items-center border-top" *ngIf="isValid">
          <app-button  [content]="'Comprar'" (click)="onSubmit()"></app-button>
          <app-button-outline  [content]="'Tomar Fotografia'" (click)="onSubmit()"></app-button-outline>
          <app-button-secondary  [content]="'Cancelar'" (click)="onSubmit()"></app-button-secondary>
        </mat-card-actions>
      </mat-card>

  </div>

</div>

<!-- https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60-->
