<app-header></app-header>
<div class="container">
    <div class="row d-flex flex-column justify-content-center align-items-center py-3">
        <mat-card >
            <mat-card-header>
                <mat-card-title>Toma de Fotografia</mat-card-title>
                <mat-card-subtitle>Por favor acepte el requerimiento de uso de la camara</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-center">
                <webcam 
                style="min-width: 270px;"
                [width]= widthDisplayCamera
                (imageCapture)="handleImage($event)"
                (initError)="handleInitError($event)"
                [trigger]="triggerObservable"></webcam>
            </mat-card-content>
            <mat-card-actions class="text-center">
                <button mat-fab color="primary" (click)="triggerSnapshot();" >
                    <mat-icon>camera_enhance</mat-icon>
                  </button>
                
            </mat-card-actions>
            <mat-card-footer class="p-2">
                <div class="d-flex flex-column justify-content-center align-items-center border rounded mt-2 mt-lg-0 p-2" style="background-color: white;">
                    <div class="snapshot-title text-center " >Vista Previa</div>
                    <img [src]="webcamImage?.imageAsDataUrl" class=""  style=" min-height: 200px; width: 270px; height :auto;"/>
                    <div class="row text-center col-12 col-md-6 pt-2">
                        <button  class="w-100" mat-raised-button color="primary" (click)="savePicture()"  >Guardar</button>
                      </div>
                  </div>
                
            </mat-card-footer>
        </mat-card>
       
    </div>
</div>

