<div>
    <h1 mat-dialog-title>Validar SMS</h1>
    <p mat-dialog-subtitle><b>¡Identificamos que ya eres cliente VIVA!</b>
        <br />Te enviamos un SMS a la l&iacute;nea {{linea}} que ingresaste en el paso anterior.
        <br />Porfavor Ingresa el c&oacute;digo de 4 D&iacute;gitos
    </p>
    <div>
        <mat-dialog-content [formGroup]="validationCode">
            <mat-form-field class="form-group col-12">
                <input matInput required placeholder="Ingrese el C&oacute;adigo" class="form-control" formControlName="codigo" value="{{codigo}}">
                <small *ngIf="codigo?.invalid && codigo?.touched" class="form-control" class="text-danger">El C&oacute;digo
                    es requerido (Acepta N&uacute;meros de 4 d&iacute;gitos)</small>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions class="form-group col-12">
            <button class="mat-raised-button form-control btn-primary" (click)="save()" [disabled]="validationCode.invalid">Validar</button>
            <button class="mat-raised-button form-control" (click)="close()">Cancelar</button>
        </mat-dialog-actions>
        
    </div>
    
    <div class="col-md-12 col-12 link-send">
        <br>
        <a href="">Reenviar C&oacute;digo</a>
    </div>

</div>