<app-header></app-header>
<div style="background: linear-gradient(180deg, #D6F084 0%, rgba(214, 240, 132, 0) 100%);">
    <div class="parent d-flex flex-column justify-content-center container">
        <div
            class="contenedor-flexible d-flex flex-column align-items-center flex-md-row align-items-md-center justify-content-center ">
            <mat-card style="margin-top: 40px">
                <mat-card-header>
                    <img class="toolbar-logo" src="../../../assets/images/pages/header/logo-viva.png" alt="">
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="validationForm" style="background-color:white" (ngSubmit)="onSubmit()"
                        class="form" novalidate id="validationForm">
                        <app-input-text controlName="name" [submitted]="submitted" identifier="name" message="Ingresa tu Primer Nombre" description="Nombre"></app-input-text>
                        <app-input-text controlName="lastname" [submitted]="submitted" identifier="lastname" message="Ingresa tu Primer Apellido" description="Apellido"></app-input-text>
                        <div class='d-flex flex-row align-items-start justify-content-center'>
                            <div class="col-6 col-md-6 col-sm-6">
                                <app-input-text controlName="dni" [submitted]="submitted" identifier="dni" message="Ingresa tu CI" description="Carnet"></app-input-text>
                            </div>
                            <div class="col-6 col-md-6 col-sm-6">
                                <app-input-text controlName="subscriberId" [submitted]="submitted" identifier="subscriberId" message="Ingresa tu Celular" description="Celular"></app-input-text>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-start justify-content-center" style="padding-left: 60; padding-right:60">
                            <br>
                            <app-captcha [config]="captchaConfig" class="d-flex flex-row align-items-start justify-content-center"></app-captcha>
                            <input type="checkbox" class="form-control" formControlName="captcha_status"
                                id="captcha_status" name="captcha_status" hidden="true" />
                        </div>
                        <div class="form-group col-12">
                            <br>
                            <small *ngIf="name?.invalid && name?.touched" class="text-danger">El
                                Nombre es Requerido (Solo acepta texto sin caracteres especiales entre 3 y 35
                                Caracteres) </small>
                            <small *ngIf="lastname?.invalid && lastname?.touched" class="text-danger"><br>El
                                Apellido es Requerido (Solo acepta texto sin caracteres especiales entre 3 y 35
                                Caracteres) </small>
                            <small *ngIf="subscriberId?.invalid && subscriberId?.touched" class="text-danger"><br>El
                                N&uacute;mero de Tel&eacute;fono es Requerido (Solo acepta N&uacute;meros con
                                Longitud de 8 Digitos) </small>
                            <small *ngIf="dni?.invalid && dni?.touched" class="text-danger"><br>El
                                Carnet de Identidad es Requerido (Acepta Numeros y Letras entre 4 y 10
                                Caracteres)</small>
                        </div>
                        <div class="text-center">
                            <app-button [disabled]="validationForm.invalid" [content]="'Identificarme'"></app-button>
                        </div>
                    </form>
                </mat-card-content>
                <mat-card-footer class="mat-card-footer">

                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>