.backGradient {
    background: linear-gradient(180deg, #dbfa76 0%, rgba(214, 240, 132, 0) 100%);
}

/////////////////////////   CARD de FORMULARIO    /////////////////////////
mat-card {
    margin-top: 25%;
    border-radius: 25px;
    padding: 0;
    font-family: MUSEO300-REGULAR;
    margin-left: 20px;
    margin-right: 20px;
    height: 95%
}

mat-card-header {
    border-radius: 25px 25px 0 0 ;
    .toolbar-logo{
        text-align: center;
        margin-top: 100px;
        margin-left: 45%;
        margin-right: 50%;
        height: 37px;
        width: 180px;
    }
}

mat-card-content {
    background: white;
    margin-top: 35px;
    margin-left: 29px;
    margin-right: 29px;
    margin-bottom: 3px;
}

mat-card-footer{
    background: white;
    border-radius:  0 0 25px 25px ;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}



/////////////////////////   INPUT STYLE FORMULARIO    /////////////////////////
/*
::ng-deep .mat-form-field-outline-start {
    color: #5C349D!important;
    border-color: #5C349D!important;
    border-radius: 18px 0 0 18px !important;
    min-width: 18px !important;
    width: 90%;
}

::ng-deep .mat-form-field-outline-end {
    color: #5C349D!important;
    border-color: #5C349D!important;
    border-radius: 0 18px 18px 0 !important;
    width: 90%;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #5C349D!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #5C349D!important;
}
*/
/* El icono debe ser "position: absolute"
 * Ademas le damos un "display: block" y lo posicionamos */
 
input.input{
    padding-right: 1.5rem;
}
  
#icon{
    position: absolute;
    display: block;
    bottom: .5rem;
    right: 0.1rem;
    opacity: 0.5!important;
    user-select: none;
    cursor: pointer;
}

////////////////////////////////   Captcha   ////////////////////////////////
.border {
    width: 70%;
}

.textcaptcha {
    font-size: 3.7vh;
    font-weight: bold;
    font-family: Courier ;
    margin-bottom: 0;
}

.text1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: MUSEO300-REGULAR;
}

.input1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;

  }

.errorCaptcha {
    font-size: 1.5vh;
  }

.mainCaptcha {
    background: white;
    color: #5C349D!important;
    width: 280px;
}

.captcha1 {
    background-color: white;
    border: none;
    padding: 0.5vh 1vh 4.5vh 1vh;
    color: #5C349D!important;
    font-weight: bold;
    border-radius: 20px;
    height: 10vh;
    margin-left: 0vh;
  }

.mat-card-header-text {
    margin: 0 !important;
}

.personaje {
    height: auto !important;
    width: 60vh !important;
    bottom: 0px;
  }

  .btnMobile{
      display: none;
  }


@media (max-width: 1200px){
    .personaje {
        width: 40vh !important;
      }
        section{
        padding: 0 1vh;
    }

}

@media (max-width: 768px){
    mat-error{
        font-size: .8rem!important;
      }
    .alert-danger {
        font-size: .8rem!important;
    }
    .form-control-label{
        font-size: 1.04em !important;
      }
    .errorCaptcha {
        font-size: .8rem;
    }
    .parent {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    section{
        padding: 0 1vh;
    }

    .personaje {
        height: auto !important;
        width: 50vh !important;
        bottom: 0px;
    }

    mat-card-header {
        padding: 10px;
        justify-content: center;

       .title-1{
           font-size: 1.5rem;
       }
       .title-2{
           font-size: .95rem;
       }
   }

   .btnMobile{
        display: block;
    }

    .btnDesktop{
        display: none;
    }

   .border-captcha{
       width: 100%;
   }

}

@media (max-width: 400px){
    .textcaptcha{
        font-size: 6.3vh;
       }
}
//////////////////////////////// Fin Captcha ////////////////////////////////