.form-control.ng-touched.ng-invalid {
    border:1px solid red;
}

.form-control.ng-touched.ng-valid {
    border:1px solid green;
}

.link-back a {
    text-align: right;
    font-weight: bold;
    text-decoration: none;
    color: purple;
}

.link-new a {
    text-align: right;
    font-weight: bold;
    text-decoration: none;
    color: green ;
}