
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    
  </button>
  Registro de Datos
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
    <div class="row d-flex flex-column justify-content-center align-items-center py-3 px-1">
      <mat-card style="width : 26rem">
          <mat-card-header>
              <mat-card-title>VIVA</mat-card-title>
              <mat-card-subtitle>Formulario de Verificacion</mat-card-subtitle>
          </mat-card-header>
          <img matCardImage src="../../../assets/images/no-image.jpeg">
          <mat-card-content>
            <form class="row g-3 needs-validation" novalidate>
              <div class="col-12">
                <input type="text" class="form-control" id="full_name_form" value=""  placeholder="Nombre Completo" required>
                <div class="valid-feedback">
                  El nombre completo es requerido
                </div>
              </div>
              <div class="col-12">
                <input type="text" class="form-control" id="dni_number_from" value=""  placeholder="Numero de CI" required>
                <div class="valid-feedback">
                  El numero de CI es requerido
                </div>
              </div>
              <div class="col-12">
                <input type="text" class="form-control" id="phone_number_form" placeholder="Numero de Telefono" required>
                <div class="invalid-feedback">
                 El numero de Telefono es requerido
                </div>
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions class="text-center pb-3">
              <button mat-raised-button color="primary" class="w-100">Siguiente</button>
              
          </mat-card-actions>
        
      </mat-card>

            
    </div>
</div>
