<app-header></app-header>
<section>
    <div class="row">
        <div class="main">
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
                <h1>Mi VIVA</h1>
                <button mat-raised-button class="example-icon btn btn-light" data-aria-label="Example icon-button with share icon" routerLink = "/registro" >
                    Crea tu Cuenta
                </button>
                <a href="/client/validationClient" >Ingresa Ya!!!</a>
            </div>
            <div class="col-12 col-md-6"></div>

    
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
            <button mat-raised-button color="primary" class="example-icon" aria-label="Example icon-button with share icon"  (click)="sendSMS()">
                Manda SMS
            </button>
        </div>
        
    </div>

</section>
<app-footer></app-footer>
