
<h4 *ngIf="total>0">Elige un método de pago</h4>
<div class="sp-20"></div>
<div class="col-12" *ngIf="total>0">
  <mat-radio-group name="entregaData" fxLayout="column" [(ngModel)]="optionSelected" (change)="radioChange($event)">
      <div *ngFor="let op of listOfOptions" class="alert alert-info" [ngClass]="{'checked': op.value===optionSelected, 'unchecked': op.value!==optionSelected}" role="alert">
          <mat-radio-button name="entregaData" [value]="op.value" class="custom-radio">
            <div fxLayout="row" fxLayoutAlign="start center">
              <i style="color:white;" class="material-icons">{{op.design}}</i>
              <div>&nbsp;{{op.name}}</div>
            </div>
          </mat-radio-button>
      </div>
  </mat-radio-group>
</div>
<div style="text-align: center;">
  <app-button *ngIf="!methodSelected" [content]="'Continuar'" (click)="next()"></app-button>
</div>

