.mat-toolbar{
    background-color: #5c349e;
    color: white;
  }
  .mat-toolbar .toolbar-logo{
    max-width: 100px;;
  }

  map-container{
    border-radius: 20px !important;
    border: 1px solid #5c349e !important ;
  }

  .mat-card{
    padding: 1px !important;
    width: 100%;
    color: #7B7B7B;
  }

  .address{
    background: #F5F5F5;
    //height: 150px;
    /* Violeta 50% */

    border: 1px solid #AC99CE;
    border-radius: 10px;
  }

  .detail{
    background: rgba(132, 102, 182, 0.1);
    //border-radius: 10px 0px 0px 10px;
  }

  .section-body{
    background: #ffff;
    //border-radius: 0px 10px 10px 0px;
    //border: 1px solid rgba(132, 102, 182, 0.1);
  }

  .coverage-status {
    background: #D6F084;
    color: #5c349e;
    height: 55px;
    border-radius: 0px 0px 10px 10px;
  }







