.form-control.ng-touched.ng-invalid {
    border:1px solid red;
}

.form-control.ng-touched.ng-valid {
    border:1px solid green;
}

.link-send a {
    text-align: right;
    color: purple;
    font-weight: bold;
    text-decoration: none;
}
