<div class="container">
    <div class="row">
        
       
    </div>

    <div class="row d-flex flex-column justify-content-center align-items-center py-3">
        <mat-card class="" >
            <mat-card-header>
                <mat-card-title>Toma de Fotografia</mat-card-title>
                <mat-card-subtitle>Por favor acepte el requerimiento de uso de la camara</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-center">
                <zxing-scanner
                (scanSuccess)="scanSuccess($event)"
                ></zxing-scanner>
            </mat-card-content>
            <mat-card-actions class="text-center">
                <button mat-fab color="primary" >
                    <mat-icon>camera_enhance</mat-icon>
                  </button>
                
            </mat-card-actions>
            <mat-card-footer class="p-2">
                <div class="d-flex flex-column justify-content-center align-items-center border rounded mt-2 mt-lg-0 p-2" style="background-color: white;">
                    <div class="snapshot-title text-center " >Vista Previa</div>
                   
                    <div class="row text-center col-12 col-md-6 pt-2">
                        <button  class="w-100" mat-raised-button color="primary" >Guardar</button>
                    </div>
                  </div>
                
            </mat-card-footer>
        </mat-card>
       
    </div>
</div>


