
.mat-card {
    width: 23rem;
}
/*
.card-main {
    border-radius: 25px ;
    background-color: #F0F0F0;
    box-shadow: 0 3px 6px rgba(103, 49, 162, 0.5);
    width: 45rem;
  }
  
  @media (max-width: 768px){
  
    .card-main {
        width: 21rem;
    }
  
  }
  
  @media (max-width: 380px){
    .title-1{
      font-size: 1.2rem !important;
    }
  
    .card-main {
        width: 20rem;
    }
  
  }
  
  @media (max-width: 350px){
  
    .card-main {
        width: 19rem;
    }
  
  }
  
  @media (max-width: 280px){
  
  .card-main {
      width: 17rem;
  }
  
  }
  
  .card-main .card-body {
    padding: 1rem 1.5rem;
  }
  */
  
  