/* You can add global styles to this file, and also import other style files */
@import "@angular/material/theming";
@include mat-core();
$mat-primary-scheme: ( 100: #cec2e2, 500: #5c339d, 700: #412081, contrast: ( 100: rgba(0, 0, 0, 0.87), 500: #ffffff, 700: #ffffff, ), );
$mat-accent-scheme: ( 100: #f3fbda, 500: #d6f084, 700: #c6e967, contrast: ( 100: rgba(0, 0, 0, 0.87), 500: #ffffff, 700: #ffffff, ), );
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);
$mat-warn-palette: mat-palette($mat-red);
$app-light-theme: mat-light-theme( $mat-primary-palette, $mat-accent-palette, $mat-warn-palette);
@include angular-material-theme($app-light-theme);

.color-primary {
  color: mat-color($mat-primary-palette) !important;
}

.color-accent {
  color: mat-color($mat-accent-palette);
}

.color-warn {
  color: mat-color($mat-warn-palette);
}

.bg-warn {
  background-color: mat-color($mat-warn-palette);
}

.bg-accent {
  background-color: mat-color($mat-accent-palette);
}

.bg-primary {
  background-color: mat-color($mat-primary-palette) !important;
}

/* microfront address */
.section-form-input {
  box-sizing: border-box!important;
  margin-left: 2px;
  margin-right: 2px;
  vertical-align: top;
  min-width: 49%;
  font-family: MUSEO300-REGULAR;
}
.section-form-input mat-select {
  font-family: MUSEO300-REGULAR;
}
@media (min-width: 600px) and (max-width: 959px) {
  .section-form-input {
    min-width: 100% !important;
  }
}
@media (max-width: 599px){
  .section-form-input {
    min-width: 100% !important;
  }
}

.input-not-underline .mat-form-field-underline {
  display: none;
}

.input-not-underline.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.25em 0 0.75em 0 !important;
}

.input-not-underline.mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  //transform: translateY(-0.1em) scale(0.75) !important;
}

.input-not-underline .mat-form-field-flex {
  border-radius: 10px !important;
  border: 1px solid mat-color($mat-primary-palette);
}

.input-not-underline .mat-form-field-wrapper {
  padding-bottom: 0.75em;
}

.input-not-underline.mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float.mat-form-field-type-mat-select .mat-form-field-label {
  //transform: translateY(-0.15em) scale(0.75) !important;
}

.input-not-underline.mat-form-field-appearance-fill.mat-form-field-type-mat-select .mat-form-field-infix {
  //padding: 0.45em 0 0.3em 0 !important;
}

.input-not-underline.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: inherit;
}

.input-not-underline input {
  font-weight: 600;
}

.input-not-underline .mat-select-value {
  font-weight: 600;
  padding-top: 0.25em;
}

.input-not-underline .mat-select-arrow {
  color: mat-color($mat-primary-palette);
}

.mat-raised-button {
  font-family: MUSEO300-REGULAR;
  border-radius: 20px !important;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 24px !important;
}

.mat-button {
  font-family: MUSEO300-REGULAR;
}

.arrow-circle-back {
  font-size: 34px;
  width: 34px !important;
  height: 34px !important;
  line-height: 34px !important;
  margin-right: 6px;
}
.full-width {
  width: 100%;
}
.spacer-form{
  height: 10px;
}
.dialog-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}
.dialog-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin-right: 6px;
  white-space: nowrap;
}
/* end microfront address */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.bg {
    background-size: cover ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-height: 1400px) {
    .bg{
      height: 85vh;
    }
  }

html, body { height: 100%; }
body {
  margin: 0;
  font-family: MUSEO300-REGULAR;
}

mat-card{
  font-family: MUSEO300-REGULAR !important;
}

mat-card .mat-card-header{
  min-height: 4rem;
}


.toolbar-spacer {
  flex: 1 1 auto;
}

@font-face {
  font-family: MUSEO300-REGULAR;
  src: url(./assets/font/Museo-300.otf);
}

@font-face {
  font-family: MUSEO700-REGULAR;
  src: url(./assets/font/Museo-700.otf);
}

@font-face {
  font-family: MUSEO900-REGULAR;
  src: url(./assets/font/Museo-900.otf);
}


@font-face {
  font-family: MUSEO500-REGULAR;
  src: url(./assets/font/Museo-500.otf);
}

@font-face {
  font-family: MUSEO100-REGULAR;
  src: url(./assets/font/Museo-100.otf);
}

.mat-card{
  background: #FFFFFF;
  border-radius: 20px !important;
}

.form-control{
  border: 1px solid #8466B6 !important;
  border-radius: 10px !important;
  color: #8466B6 !important;
}

h3{
font-family: MUSEO900-REGULAR;
font-style: normal;
font-weight: 900;
font-size: 25px;
line-height: 30px;
color: #5C339D
}

h2{
font-family: MUSEO900-REGULAR;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 36px;
color: #5C339D
}

.bg-section{
  border: 1px solid #5c349e !important;
  padding: 5px !important;
}

.cdk-overlay-container{
  z-index: 10100 !important;
}
