/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.bg {
    background-size: cover ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  @media (min-height: 1400px) {
    .bg{
      height: 85vh;
    }
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toolbar-spacer {
  flex: 1 1 auto;
}
