<div class="container">
    <div class="row pb-3">
        <section class="section-body col-12 py-3">
            <h3>{{title}}</h3>
            <p>{{message}}</p>
            <mat-card>
                <mat-card-content>
                    <form style="background-color:white" class="form" novalidate id="validationForm">
                        <mat-radio-group aria-label="Select an option">
                            <mat-form-field appearance="outline">
                                <button><mat-radio-button value="1">Option 1</mat-radio-button></button>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <button><mat-radio-button value="2">Option 2</mat-radio-button></button>
                            </mat-form-field>
                        </mat-radio-group>


                        
                    </form>
                </mat-card-content>
            </mat-card>
        </section>
    </div>
</div>