<div class="container">
    <div class="row pb-3">
        <section class="section-body col-12 py-3">
            <h3>{{title}}</h3>
            <p>{{message}}</p>
            <mat-card>
                <mat-card-content>
                    <form style="background-color:white" class="form" novalidate id="validationForm" >
                        <div *ngIf="movilState == true; then trueMovil;"></div>
                        <ng-template #trueMovil>
                            <div class="row" style="color:black">
                                <h4 style="color:black"><b>MOVIL</b></h4>
                                <p>Elije un N&uacute;mero</p>
                                <div *ngFor="let line of linesList" class="col-6 col-md-6 col-sm-6">
                                    <div [class]="line.description" [style]="line.style" role="alert">
                                        <mat-radio-button name="movil" [value]="line.value" [checked]="line.checked" (change)="radioChange($event)">
                                            <span>&nbsp;{{line.name}}</span>
                                        </mat-radio-button>
                                    </div>
                                </div>
                                <div *ngIf="limitLine == 5" class="col-6 col-md-6 col-sm-6">
                                    <div class="alert alert-light divOption" style="text-align:center;" role="alert">
                                        <a href="javascript: void(0);" class="linkMore" (click)="clickme()"> Mas opciones..</a>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--<button mat-raised-button color="primary" class="w-100"  [disabled]="validationForm.invalid">Continuar</button>-->
                        <div class="text-center">
                            <app-button [content]="'Continuar'"  (click)="next()"></app-button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </section>
    </div>
</div>