<app-header></app-header>
<div class="container px-3 pt-1">
  <div class="row">
    <img src="../../../assets/images/pages/sales/banner.jpeg" alt="" class="img-fluid">
  </div>
  <div class="row row-cols-2 d-flex flex-column justify-content-center align-items-center flex-md-row align-items-md-start">
    <!---
    <div class="col-12 border border-primary p-2">
      <h5>Material Design Slider</h5>
      <mat-slider min="1" max="100" step="1" value="50" class="w-100"></mat-slider>
    </div>
    -->
    <mat-card class="mat-elevation-z4 my-3 mx-2 m-md-4" style="width: 20rem; " *ngFor="let product of productList">
      <mat-card-header class="border-bottom mb-3">
        <mat-card-title class="d-flex flex-row justify-content-center text-secondary fw-bold"><span>{{product.name}}</span></mat-card-title>
      </mat-card-header >
      <div class="text-center">
        <img src="../../../assets/images/no-image.jpeg" class="border img-fluid">
      </div>
     
      <mat-card-content class="text-center">
        <p class="text-primary">
          Precio: {{product.price}}
        </p>
      </mat-card-content>
      <mat-card-actions class="d-flex flex-column justify-content-center align-items-end border-top">
        <div class="col-12 col-md-6">
          <button mat-raised-button color="primary" class="my-2  w-100" (click)="addToCart(product)">Añadir al carrito</button>
        </div>
        <div class="col-12 col-md-6">
          <a  mat-raised-button color="secondary" class="my-2 w-100"  [routerLink]="['/oferta/detalle/', product.itemId]">Ver Detalle</a>
        </div>

      </mat-card-actions>
    </mat-card>

  </div>

</div>

<!-- https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60-->
