/*
.ng-invalid {
  border:1px solid red;
}

.ng-valid {
  border:1px solid green;
}

*/
mat-card-header {
   .title-1{
       font-size: 2.5vh; // 2.5vh;
       text-align: left;
       color: purple;
       font-family: MUSEO900-REGULAR;
       //font-family:'Museo';
       margin: 0;

   }
   .title-2{
       font-size: 1.8vh;
       text-align: left;
       color: black;
       //font-family:'Museo';
       font-family: MUSEO600-REGULAR;
   }
  }

  mat-card-title{
    margin-bottom: .5vh;
  }

  .mat-icon-button{
    width: 4vh!important;
    height: auto!important;
    margin-top: -6px;
    margin-right: -3px;
}

mat-card-content {
    background: #F0F0F0;
    color: purple;
    border-radius: 0 0 25px 25px ;
}

.link-back a {
    text-align: right;
    font-weight: bold;
    text-decoration: none;
    color: rgb(179, 2, 167) ;
}

.mat-card{
  padding: 10px !important;
  width: 100%;
  color: #7B7B7B;
}

.section-body{
  background: #ffff;
  //border-radius: 0px 10px 10px 0px;
  //border: 1px solid rgba(132, 102, 182, 0.1);
}

mat-form-field {
  width: 100%;
}


::ng-deep .mat-form-field-outline-start {
  color: purple!important;
  border-color: purple!important;
  border-radius: 18px 0 0 18px !important;
  min-width: 18px !important;
  //width: 90%;
}

::ng-deep .mat-form-field-outline-end {
  color: purple!important;
  border-color: purple!important;
  border-radius: 0 18px 18px 0 !important;
}

.readonly-wrapper {
  cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
  pointer-events: none;
}
