<div class="container">
    <div class="row pb-3">
        <section class="section-body col-12 py-3">
            <h3>{{title}}</h3>
            <p>{{message}}</p>
            <form [formGroup]="validationForm" style="background-color:white" novalidate id="validationForm">
                <div class="row ">
                    <div class="container" style="color:black;">
                        <h4><b>Datos Generales</b></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="stateClient; else NAME1EDIT">
                        <app-big-input-text controlName="firstName" readonly="{{stateClient}}" [submitted]="submitted" identifier="firstName"
                            message="Primer Nombre" description="Primer Nombre"></app-big-input-text>
                        <mat-error *ngIf="firstName?.invalid && firstName?.touched" >
                            Por favor ingresa datos v&aacute;lidos
                        </mat-error>
                    </div>
                    <ng-template #NAME1EDIT>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <app-big-input-text controlName="firstName" readonly="{{stateClient}}" [submitted]="submitted" identifier="firstName"
                            message="Primer Nombre" description="Primer Nombre"></app-big-input-text>
                            <mat-error  *ngIf="firstName?.invalid && firstName?.touched" >
                                Por favor ingresa datos v&aacute;lidos
                            </mat-error>
                        </div>
                    </ng-template>
                    <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="stateClient; else NAME2EDIT">
                        <app-big-input-text controlName="secondName" readonly="{{stateClient}}" [submitted]="submitted" identifier="secondName"
                            message="Segundo Nombre" description="Segundo Nombre"></app-big-input-text>
                    </div>
                    <ng-template #NAME2EDIT>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <app-big-input-text controlName="secondName" readonly="false" [submitted]="submitted" identifier="secondName"
                            message="Segundo Nombre" description="Segundo Nombre"></app-big-input-text>
                        </div>
                    </ng-template>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="stateClient; else SURENAME1EDIT">
                        <app-big-input-text controlName="sureName" readonly="{{stateClient}}" [submitted]="submitted" identifier="sureName"
                            message="Primer Apellido" description="Primer Apellido"></app-big-input-text>
                        <mat-error *ngIf="sureName?.invalid && sureName?.touched" >
                            Por favor ingresa datos v&aacute;lidos
                        </mat-error>
                    </div>
                    <ng-template #SURENAME1EDIT>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <app-big-input-text controlName="sureName" readonly="false" [submitted]="submitted" identifier="sureName"
                            message="Primer Apellido" description="Primer Apellido"></app-big-input-text>
                            <mat-error *ngIf="sureName?.invalid && sureName?.touched" >
                                Por favor ingresa datos v&aacute;lidos
                            </mat-error>
                        </div>
                    </ng-template>
                    <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="stateClient; else SURENAME2EDIT">
                        <app-big-input-text controlName="secondSurName" readonly="{{stateClient}}" [submitted]="submitted"
                            identifier="secondSurName" message="Segundo Apellido" description="Segundo Apellido">
                        </app-big-input-text>
                    </div>
                    <ng-template #SURENAME2EDIT>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <app-big-input-text controlName="secondSurName" readonly="false" [submitted]="submitted"
                            identifier="secondSurName" message="Segundo Apellido" description="Segundo Apellido">
                            </app-big-input-text>
                        </div>
                    </ng-template>
                </div>
                <div class="row" *ngIf="stateClient; else TYPEEDIT">
                    <mat-form-field appearance="outline" style="color: #5C349D; width:99%; margin-right:2px; margin-left:2px;" >
                        <mat-select placeholder="Tipo Documento" formControlName="tipo" id="tipo" 
                            name="tipo" [disabled]="true">
                            <mat-option *ngFor="let tipo of tipoDoc" [value]="tipo.value">
                                {{tipo.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error  *ngIf="tipo?.invalid && tipo?.touched">
                        Por favor elija una opci&oacute;n
                    </mat-error>
                </div>
                <ng-template #TYPEEDIT>
                    <div class="row">
                        <mat-form-field appearance="outline" style="color: #5C349D; width:99%; margin-right:2px; margin-left:2px;" >
                            <mat-select placeholder="Tipo Documento" disableOptionCentering formControlName="tipo" id="tipo" 
                                name="tipo">
                                <mat-option *ngFor="let tipo of tipoDoc" [value]="tipo.value">
                                    {{tipo.description}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="tipo?.invalid && tipo?.touched">
                            Por favor elija una opci&oacute;n
                        </mat-error>
                    </div>
                </ng-template>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="stateClient; else DNIEDIT">
                        <app-big-input-text controlName="nroDoc" readonly="{{stateClient}}" [submitted]="submitted" identifier="nroDoc"
                            message="N&uacute;mero Documento" description="N&uacute;mero Doc."></app-big-input-text>
                        <mat-error *ngIf="nroDoc?.invalid && nroDoc?.touched" >
                            Por favor ingresa datos v&aacute;lidos
                        </mat-error>
                    </div>
                    <ng-template #DNIEDIT>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <app-big-input-text controlName="nroDoc" readonly="false" [submitted]="submitted" identifier="nroDoc"
                                message="N&uacute;mero Documento" description="N&uacute;mero Doc."></app-big-input-text>
                            <mat-error *ngIf="nroDoc?.invalid && nroDoc?.touched" >
                                Por favor ingresa datos v&aacute;lidos
                            </mat-error>
                        </div>
                    </ng-template>
                    <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="stateClient; else EMITEDIT">
                        <mat-form-field appearance="outline" style="color: #5C349D;" >
                            <mat-select placeholder="Elija Expedido" formControlName="expDoc" 
                                id="expDoc" name="expDoc" [disabled]="true">
                                <mat-option *ngFor="let exp of expedido" [value]="exp.value">
                                    {{exp.description}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="expDoc?.invalid && expDoc?.touched" >
                            Por favor elija una opci&oacute;n
                        </mat-error>
                    </div>
                    <ng-template #EMITEDIT>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <mat-form-field appearance="outline" style="color: #5C349D;">
                                <mat-select placeholder="Elija Expedido" disableOptionCentering formControlName="expDoc" 
                                    id="expDoc" name="expDoc">
                                    <mat-option *ngFor="let exp of expedido" [value]="exp.value">
                                        {{exp.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-error *ngIf="expDoc?.invalid && expDoc?.touched" >
                                Por favor elija una opci&oacute;n
                            </mat-error>
                        </div>
                    </ng-template>
                </div>

                <div class="row">
                    <app-big-input-text controlName="nroRef" readonly="false" [submitted]="submitted" identifier="nroRef"
                        message="N&uacute;mero Referencia" description="N&uacute;mero Ref."></app-big-input-text>
                    <mat-error *ngIf="nroRef?.invalid && nroRef?.touched">
                        Por favor ingresa solo n&uacute;meros
                    </mat-error>
                </div>
                <div class="row">
                    <app-big-input-text controlName="email" readonly="false" [submitted]="submitted" identifier="email"
                            message="Correo Electr&oacute;nico" description="email"></app-big-input-text>
                        <mat-error *ngIf="email?.invalid && email?.touched">
                            Por favor ingresa datos v&aacute;lidos
                        </mat-error>
                </div>

                <div class="row ">
                    <div class="container" style="color:black;">
                        <h4><b>Datos de Facturaci&oacute;n</b></h4>
                    </div>
                </div>

                <div class="row">
                    <app-big-input-text controlName="razonS" readonly="false" [submitted]="submitted" identifier="razonS"
                                message="Ingresa la Raz&oacute;n Social" description="Raz&oacute;n Social">
                            </app-big-input-text>
                            <mat-error *ngIf="razonS?.invalid && razonS?.touched" >
                                Por favor ingresa datos v&aacute;lidos
                            </mat-error>
                </div>
                <div class="row">
                    <app-big-input-text controlName="nit" readonly="false" [submitted]="submitted" identifier="nit"
                                message="Ingresa N&uacute;mero de NIT" description="NIT"></app-big-input-text>
                            <mat-error *ngIf="nit?.invalid && nit?.touched">
                                Por favor ingresa datos v&aacute;lidos
                            </mat-error>
                </div>

                <div class="row text-center">
                    <app-button [disabled]="validationForm.invalid" [content]="'Siguiente'" (click)="next()">
                    </app-button>
                </div>
            </form>
        </section>
    </div>
</div>